* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-image: url('../img/portada.jpg');
    background-size:cover;
    
    background-attachment: fixed;
    /* 
    background-position: center;
    background-repeat: no-repeat;
    */
}
body{
    background: none;
}