* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-image: url('../img/portada.jpg');
    background-size:cover;
    /*background-position: center; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    */
}